main {
  display: grid;
  grid-gap: 15px;
}

main section {
  height: 300px;

}

section#ds-data-collection {
  grid-column: 1 / 6;
  grid-row: 1 / 2;
  background: aliceblue;
}
section#ds-dataviz {
  grid-column: 6 / 10;
  grid-row: 1 / 2;
}

section#ds-video {
  grid-column: 1 / 6;
  grid-row: 2 / 2;
  background: aliceblue;
}
section#ds-conclusion {
  grid-column: 6 / 10;
  grid-row: 2 / 2;
  background: aliceblue;
}

main section div img {
  width: 65%;
}
